<%- include('includes/head.ejs') %>
            <br> <h2> ¡Gracias por compartir tu información! </h2> <br>

            <% for (let persona of datosPersonales) { %>
                <p> Nombre: <%= persona.nombre %> </p>
                <p> Edad: <%= persona.edad %> </p>
                <p> Personaje favorito: <%= persona.personaje %> </p> <br>
            <% } %>

            <% if (ultima_persona != '') {  %>
                <div> La última persona registrada fue: <%= ultima_persona %> </div>
            <% } %>

<%- include('includes/foot.ejs') %>