<%- include('includes/head.ejs') %>
            <br> <h2> ¡Gracias por compartir tu información! </h2> <br>

            <% for (let persona of datosPersonales) { %>
                <p> Nombre: <%= persona.nombre %> </p>
                <p> Edad: <%= persona.edad %> </p>
                <p> Personaje favorito: <%= persona.personaje %> </p> <br>
            <% } %>

<%- include('includes/foot.ejs') %>